@font-face {
    font-family: "PT_Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT_Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/*общие стили*/
html {
  height: 100%;
}

.body {
  margin: 0;
  font-family: "PT_Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*стили для хедера*/
.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation__logo-link {
  display: block;
  margin-right: 30px;
  margin-bottom: -6px;
  z-index: 1;
}

.navigation__logo {
  display: block;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-navigation {
  min-width: 339px;
  margin-right: auto;
}

.user-navigation {
  min-width: 268px;
}

.user-navigation__item {
  min-height: 64px;
  min-width: 12px;
}

.navigation__link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation__button-wrapper {
  padding: 14px 0 14px 20px;
}

.navigation__button {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  border-width: 0;
  border-radius: 4px;
}

.user-navigation__like-number {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

/*стили для мэйн главной страницы*/
.main {
  flex-grow: 1;
}

.about__image-wrapper {
  margin-bottom: 69px;
  padding: 51px 371px 82px;
  background-color: rgba(131, 179, 211, 0.7);
  background-image: url("../images/about_mask.svg"), url("../images/about_background.jpg");
  background-repeat: no-repeat;
  background-position: bottom left, top left;
}

.about__image {
  display: block;
  margin: 0 auto;
}

.about__heading {
  display: block;
  max-width: 620px;
  margin: 0 auto 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.about__description {
  display: block;
  max-width: 651px;
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages__text-wrapper {
  padding: 102px 85px;
}

.advantages__text-wrapper--middle {
  padding: 112px 85px;
}

.advantages__name {
  margin: 0 0 62px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__description {
  margin: 0;
  color: #333333;
  text-align: center;
}

.advantages__description--edge {
  color: #ffffff;
}

.advantages__item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12)
}

.advantages__item--edge {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages__item--edge-last .advantages__photo {
  order: -1;
}

.advantages__item--middle {
  background-color: rgba(131, 179, 211, 0.2);
}

.recommendation {
  padding-top: 64px;
}

.recommendation__invite {
  display: block;
  max-width: 505px;
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.recommendation__text {
  display: block;
  max-width: 490px;
  margin: 0 auto 64px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.recommendation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.recommendation__item {
  width: 230px;
  padding: 183px 85px 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendation__item--middle {
  background-color: #ffffff;
}

.recommendation__name {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.recommendation__description {
  margin: 0;
  color: #333333;
  text-align: center;
}

.search {
  width: 592px;
  padding: 96px 304px;
}

.search__name {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.search__text {
  margin: 0 0 54px 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.search__button {
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-width: 0;
  border-radius: 4px;
}

.newsletter {
  width: 684px;
  padding: 96px 258px 104px;
  background-color: rgba(131, 179, 211, 0.7);
  background-image: url("../images/newsletter_background.jpg");
  background-repeat: no-repeat;
}

.newsletter__heading {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.newsletter__text {
  margin: 0 0 54px 0;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}

.newsletter__form {
  display: flex;
}

.newsletter__input-wrapper {
  flex-grow: 1;
}

.newsletter__email {
  width: 412px;
  padding: 14px 20px;
  font-size: inherit;
  line-height: 24px;
  background-color: #f2f2f2;
  border-width: 0;
  border-radius: 4px 0 0 4px;
}

.newsletter__button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-width: 0;
  border-radius: 0 4px 4px 0;
}

/*стили для страницы каталога*/
.main-hotels__header {
  padding: 0 70px;
  background-color: rgba(131, 179, 211, 0.7);
  background-image: url("../images/catalog_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-hotels__heading {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-transform: capitalize;
}

.breadcrumbs {
  font-size: 16px;
  color: #ffffff;
}

.breadcrumbs__link {
  color: #ffffff;
  text-decoration: none;
}

.selection__form {
  display: flex;
}

.selection__type {
  margin-right: 70px;
}

.hotel-type {
  margin-right: 140px;
}

.selection__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.selection__text {
  line-height: 23px;
  color: #ffffff;
}

.selection__button {
  font-size: 16px;
  line-height: 20px;
}

.selection__button--submit {
  background-color: #82b3d3;
}

.selection__button--reset {
  background: none;
}

.results {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px 60px;
}

.results__header-wrapper {
  display: flex;
  padding: 50px 0 40px;
}

.results__number {
  display: block;
  margin-right: 200px;
  padding-top: 6px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.view-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-list__link {
  display: block;
  min-width: 16px;
  min-height: 14px;
  padding: 15px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting {
  width: 292px;
  margin-right: 70px;
  padding: 12px 50px 12px 18px;
  font-size: inherit;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.results__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 80px 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding: 18px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card__image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card__heding {
  display: block;
  width: 300px;
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card__heading-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card__type,
.hotel-card__price {
  line-height: 23px;
  color: #333333;
}

.hotel-card__type {
  display: block;
  width: 140px;
  margin: 0 20px 16px 0;
}

.hotel-card__price {
  display: block;
  width: 140px;
  margin: 0 0 16px 0;
  text-align: end;
}

.hotel-card__link,
.hotel-card__like-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.hotel-card__link {
  display: block;
  width: 88px;
  margin: 0 20px 16px 0;
  padding: 8px 26px;
  border-radius: 4px;
}

.hotel-card__like-button {
  display: block;
  width: 140px;
  margin: 0 0 16px 0;
  padding: 8px 18px;
  text-align: center;
  border-width: 0;
  border-radius: 4px;
  background-color: #82b3d3;
}

.hotel-card__like-button--true {
  background-color: #7db54f;
}

.hotel-card__stars {
  display: flex;
  gap: 6px;
  width: 140px;
  margin-right: 20px;
  padding: 10px 0;
  outline: 1px dotted #000000; /*временное правило*/
 }

.hotel-card__rating {
  display: block;
  width: 95px;
  margin: 0;
  padding: 9px 22px 8px 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 4px;
}

.results__pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__link {
  display: grid;
  place-items: center;
  min-width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination__link--current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination__link--inner {
  color: #000000;
  background-color: #ffffff;
}

.newsletter--hotels {
  background: none;
}

.newsletter__heading--hotels {
  color: #000000;
}

.newsletter__text--hotels {
  color: #333333;
}

/*стили для футера*/
.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 70px 35px;
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__item {
  display: grid;
  place-items: center;
}

.socials__link {
  height: 100%;
  width: 100%;
  outline: 1px dotted #000000; /*временное свойство*/
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.academy-link {
  min-width: 115px; /*временное свойство*/
  min-height: 33px; /*временное свойство*/
  padding: 3px 0 0 27px; /*временное свойство*/
  outline: 1px dotted #000000; /*временное свойство*/
}
