@font-face {
    font-family: "PT_Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT_Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/*общие стили*/
.body {
  margin: 0;
  font-family: "PT_Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}

/*стили для хедера*/
.page-header {
  background-color: #ffffff;
}

.navigation__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation__button {
  font-size: 16px;
  line-height: 20px;
}

.user-navigation__like-number {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

/*стили для мэйн главной страницы*/
.main {
  background-color: #ffffff;
}

.about__image-wrapper {
  background-color: rgba(131, 179, 211, 0.7);
  background-image: url("../images/about_mask.svg"), url("../images/about_background.jpg");
  background-repeat: no-repeat;
  background-position: bottom left, top left;
}

.about__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.about__description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__description {
  color: #333333;
  text-align: center;
}

.advantages__description--edge {
  color: #ffffff;
}

.advantages__item {
  background-color: rgba(131, 179, 211, 0.12)
}

.advantages__item--edge {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages__item--middle {
  background-color: rgba(131, 179, 211, 0.2);
}

.recommendation__invite {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.recommendation__text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.recommendation__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendation__item--middle {
  background-color: #ffffff;
}

.recommendation__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.recommendation__description {
  color: #333333;
  text-align: center;
}

.search__name {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.search__text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.search__button {
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  background-color: rgba(131, 179, 211, 0.7);
  background-image: url("../images/newsletter_background.jpg");
  background-repeat: no-repeat;
}

.newsletter__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.newsletter__text {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}

.newsletter__button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

/*стили для страницы каталога*/
.main-hotels__header {
  background-color: rgba(131, 179, 211, 0.7);
  background-image: url("../images/catalog_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-hotels__heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-transform: capitalize;
}

.breadcrumbs {
  font-size: 16px;
  color: #ffffff;
}

.breadcrumbs__link {
  color: #ffffff;
  text-decoration: none;
}

.selection__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.selection__text {
  line-height: 23px;
  color: #ffffff;
}

.selection__button {
  font-size: 16px;
  line-height: 20px;
}

.selection__button--submit {
  background-color: #82b3d3;
}

.selection__button--reset {
  background: none;
}

.results__number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-card__heding {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card__heading-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card__type,
.hotel-card__price {
  line-height: 23px;
  color: #333333;
}

.hotel-card__link,
.hotel-card__like-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.hotel-card__like-button {
  background-color: #82b3d3;
}

.hotel-card__like-button--true {
  background-color: #7db54f;
}

.hotel-card__rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: none;
}

.pagination__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination__link--current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination__link--inner {
  color: #000000;
  background-color: #ffffff;
}

.newsletter--hotels {
  background: none;
}

.newsletter__heading--hotels {
  color: #000000;
}

.newsletter__text--hotels {
  color: #333333;
}

/*стили для футера*/
.page-footer {
  background-color: #ffffff;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
